<h1>Editing restaurant</h1>

<%= render "form", restaurant: @restaurants %>

<br>

<div>
  <%= link_to "Show this restaurant", @restaurants %> |
  <%= link_to "Back to restaurants", new_restaurant_path %>
</div>
